body {
  background-color: var(--Neutral-900);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: clamp(0.1vw, var(--spacing-200), var(--spacing-400))
    clamp(9vw, var(--spacing-200), var(--spacing-1400));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-400);
  height: 100%;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  column-gap: var(--spacing-400);
  row-gap: var(--spacing-250);
  border-bottom: 1px solid var(--Neutral-500);
  padding-bottom: var(--spacing-200);
}

.statistics,
.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.options.desktop-only button {
  background-color: var(--Neutral-900);
  border-radius: var(--radius-8);
  border: 1px solid var(--Neutral-400);
  padding: var(--spacing-75) var(--spacing-125);
  transition: 0.1s ease-out;
}

.options.desktop-only button:not(:disabled):hover,
.options.desktop-only button.active {
  border-color: var(--Blue-400);
  color: var(--Blue-400);
}

.vertical-divisor {
  height: 1em;
  width: 1px;
  background-color: var(--Neutral-500);
  margin: 0px var(--spacing-300);
  flex-shrink: 0;
}

.blurred {
  filter: blur(10px);
}

div#text-area > span {
  transition: 0.1s ease-out;
}

div#text-area > span.correct {
  color: var(--Green-500);
}

div#text-area > span.wrong {
  color: var(--Red-500);
  text-decoration: underline;
}

div#text-area > span.pending {
  background-color: var(--Neutral-800);
  border-radius: var(--radius-4);
}

.test-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-400);
}

.final-stats {
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-200);
}

.final-stats > div {
  border: 1px solid var(--Neutral-500);
  border-radius: var(--radius-8);
  padding: var(--spacing-200) var(--spacing-300);
}

.test-over > button {
  padding: var(--spacing-125) var(--spacing-200);
  color: var(--Neutral-0);
  display: flex;
  align-items: center;
  column-gap: var(--spacing-100);
  border-radius: var(--radius-12);
  border: 0px;
}

.test-over > button:hover {
  color: var(--Neutral-400);
}

.test-over > button > svg {
  color: var(--Neutral-900);
}

#stars-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.start {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-250);
  position: fixed;
  top: 50%;
}

.start > button {
  padding: var(--spacing-300) var(--spacing-200);
  border-radius: var(--radius-12);
  background-color: var(--Blue-600);
  border: 0px;
}

.start > button:hover {
  background-color: var(--Blue-400);
}

/* Star base */
.star2 {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("assets/images/pattern-star-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 0.4s ease 0s 1 forwards,
    sparkle 0.75s ease-in-out infinite alternate,
    rotation 2s ease-in-out infinite alternate,
    fadeOut 0.6s ease 5.5s infinite forwards;
}

.star1 {
  position: absolute;
  width: 74px;
  height: 74px;
  background-image: url("assets/images/pattern-star-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 0.4s ease 0s 1 forwards,
    sparkle 0.75s ease-in-out infinite alternate,
    fadeOut 0.6s ease 5.5s infinite forwards;
}

#confetti {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -200%);
  opacity: 0;
  pointer-events: none;
}

#confetti.active {
  animation: confetti-pop 3s cubic-bezier(0.03, 1.02, 0.39, 1) forwards 0s,
    confetti-fade 0.3s ease forwards 0.8s;
}

@keyframes confetti-pop {
  0% {
    transform: translate(-50%, 100%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -300px);
  }
}

@keyframes confetti-fade {
  to {
    opacity: 0;
  }
}

/* Sparkle (scale + brightness) */
@keyframes sparkle {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  100% {
    transform: scale(1.3);
    filter: brightness(1.6);
  }
}

/* Gentle floating movement */
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--dx), var(--dy));
  }
}

/* Gentle rotation movement */
@keyframes rotation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

/* Fade-in */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Fade-out */
@keyframes fadeOut {
  to {
    opacity: 0;
    scale: 0;
  }
}

.hidden {
  display: none;
}
